* {
  box-sizing: border-box;
  background-size: cover;
  background-repeat: none;
  /* background-image: url(./images/character_select.png); */
}

body {
  background-color: #7e89a6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin: 0;
  /* background-image: url(./images/character_select.png); */
}
.btn {
  /* color: transparent; */
  /* background-color: transparent; */
  /* border-radius: 100%; */
  /* visibility: hidden; */
  cursor: pointer;
  border-radius: 2px;
  border: none;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: inherit;
  font-family: bold;
  transition: all 0.2s ease-in-out;
  background-color: #a4ccf0;
  color: rgb(53, 52, 52);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.8);
  transform: translateY(4px);
  box-shadow: 0 0 10px #e8e8e8;
}
